name: Create flytekit-java release
on:
  workflow_dispatch:

jobs:
  build-snapshot:
    runs-on: ubuntu-latest
    name: flytekit-java release
    steps:
      - uses: actions/checkout@v2
        with:
          fetch: "0"

      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-prepare-release-${{ hashFiles('pom.xml') }}

      - name: Setup JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: 11.0
          distribution: 'adopt'
          server-id: snapshots

      - uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.FLYTE_BOT_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.FLYTE_BOT_GPG_PASSPHRASE }}
          git-user-signingkey: true
          git-commit-gpgsign: false

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY_PEM }}
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}

      - name: Setup git configuration
        run: |
          git config --global user.email ${{ github.actor }}@users.noreply.github.com
          git config --global user.name ${{ github.actor }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.FLYTE_BOT_USERNAME }}
          password: ${{ secrets.FLYTE_BOT_PAT }}

      - name: Release snapshot with Maven
        run: |
          mvn --batch-mode release:clean release:perform -DpreparationGoals=clean -DgenerateBackupPoms=false  -Ddockerfile.push
        env:
          RELEASE_REPOSITORY_URL: "https://s01.oss.sonatype.org/service/local/staging/deploy/maven2/"
          SNAPSHOTS_REPOSITORY_URL: "https://s01.oss.sonatype.org/content/repositories/snapshots"
          MAVEN_USERNAME: flytekit
          MAVEN_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}